<!-- Modal-->
<div class="modal fade" id="addVendorModal" tabindex="-1" role="dialog" aria-labelledby="VendorModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="VendormyModalLabel">Add New Vendor</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @{
                    var m = new PontelloApp.Models.Vendor();
                    <partial name="_VendorCreate" model="m" />
                }
            </div>
        </div>
    </div>
</div>
-----